/* $id */

.form-item.form-item-map-a {
  float:left;
  padding-right: 10px;
}

.form-item.form-item-map-b {
  float:left;
  padding-left: 10px;
}

#edit-sreg-map-a-wrapper {
  float:left;
  padding-right: 10px;
}

#edit-sreg-map-b-wrapper {
  float:left;
  padding-left: 10px;
}

#edit-submit {
  display:inline;
  margin-top: 28px;
  margin-left: 10px;
}

#edit-submit {
  display:inline;
  margin-top: 28px;
  margin-left: 10px;
}

#edit-submit-1 {
  display:inline;
  margin-top: 28px;
  margin-left: 10px;
}
